@model MvcApplication1.Models.User
@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{
    <div>
        @Html.EditorForModel()
        <h4>Billing Address</h4>
        @Html.EditorFor(model => model.BillingAddress)
        <h4>Shipping Address</h4>
        @Html.EditorFor(model => model.ShippingAddress)
        <input type="submit" value="submit" />
    </div>
}
